<!doctype html><html lang="<%= locale %>"><%- include('../partials/head') %><body><%- include('../partials/header') %>
<main class="container stack-lg"><section class="card"><h1>Match</h1><pre id="gameState" class="state-pre"></pre></section></main>
<%- include('../partials/footer') %><%- include('../partials/scripts') %></body></html>
