<header>
  <h1><%= t('appName') %></h1>
  <nav>
    <a href="/?lang=<%= locale %>"><%= t('nav.home') %></a>
    <a href="/about?lang=<%= locale %>"><%= t('nav.about') %></a>
    <a href="/news?lang=<%= locale %>"><%= t('nav.news') %></a>
    <a href="/faq?lang=<%= locale %>"><%= t('nav.faq') %></a>
    <a href="?lang=ru">RU</a>/<a href="?lang=en">EN</a>
  </nav>
</header>
